/* Global styles start*/
:root {
  --grey-1: #242742;
  --grey-2: #36384e;
  --grey-3: #6f717a;
  --red-1: #FF6A3A;
  --red-2: #db5248;
  --red-3: #ffe8e5;
  --red-4: #FF527B;
}

*::before,
*,
*::after {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background: var(--grey-2);
  color: var(--grey-1);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.page-content {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.d-none {
  display: none;
}

.slide {
  animation: slide 0.4s ease-in-out;
}

.move {
  animation: move 0.2s ease-in-out forwards;
  opacity: 0;
}
.move-0 {
  animation-delay: 0;
}
.move-1 {
  animation-delay: 0.2s;
}
.move-2 {
  animation-delay: 0.4s;
}
.move-3 {
  animation-delay: 0.6s;
}
.move-4 {
  animation-delay: 0.8s;
}
.move-5 {
  animation-delay: 1s;
}
/* Global styles end */


/* Sign-up form start */
.sign-up {
  background-color: #fff;
  max-width: 26.25rem;
}
.content-1 img {
  height: 100%;
  width: 100%;
}

.content-2 {
  padding: 1.5rem;
}

.content-2 .heading {
  color: var(--grey-1);
  font-weight: 700;
  font-size: 2.475rem;
  line-height: 1;
  max-width: 15ch;
}
.content-2 p {
  margin-top: 1.5rem;
  max-width: 42ch;
}
.content-2 ul {
  margin-top: 1.5rem;
  
}
.content-2 li {
  align-items: flex-start;
  display: flex;
  gap: 1rem;
}
.content-2 li + li {
  margin-top: 0.75rem;
}
.content-2 form {
  margin-top: 2.5rem;
  width: 100%;
}
.field {
  display: grid;
  row-gap: 0.5rem;
  grid-template-areas: 
    "item-1 item-2"
    "item-3 item-3";
}
.field label,
.field [role="alert"] {
  font-size: 0.75rem;
  font-weight: 700;
}
.field label {
  grid-area: item-1;
}
.field [role="alert"] {
  display: none;
  grid-area: item-2;
  justify-self: end;
}

.field input,
button {
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
}

.field input {
  color: var(--grey-3);
  border: 1px solid currentColor;
  font-family: inherit;
  font-size: inherit;
  grid-area: item-3;
}

.field input:focus {
  color: var(--grey-1);
  outline: none;
}

.field.invalid [role="alert"] {
  color: var(--red-2);
  display: block;
}

.field.invalid input {
  background: var(--red-3);
  color: var(--red-2);
}


button {
  background: var(--grey-1);
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: inherit;
  font-weight: 700;
  margin-top: 1.5rem;
  width: 100%;
}
button:hover {
  background-image: linear-gradient(#FF6A3A, #FF527B);
 	box-shadow: 0 16px 32px rgba(255, 97, 85, 0.5);
}
button:focus-visible {
  outline: 2px solid var(--red-4);
}
/* Sign-up form end */


/* Success message start */
.success-message {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.success-message .icon-box {
  padding: 1.5rem 0;
}
.success-message .body {
  padding-top: 4rem;
}
.output {
  font-weight: 700;
}
/* Success message end */



/* Footer start */
.page-footer {
  color: #fff;
  font-size: 0.75rem;
  padding: 1.5rem;
  text-align: center;
}
.page-footer a {
  color: inherit;
  font-weight: 700;
}
.page-footer a:hover {
  text-decoration: underline;
}
.page-footer a:focus-visible {
  outline: 2px solid var(--red-4);
}
/* Footer end */


@media (min-width: 64rem) {
  .sign-up {
    background: #fff;
    border-radius: 2.5rem;
    display: flex;
    max-width: 57.5rem;
    padding: 1.25rem;
    padding-left: 0;
  }
  .content-2 {
    order: -1;
    padding: 0;
    align-self: center;
    padding: 4rem;
  }
  .content-2 .heading {
    font-size: 3.5rem;
  }

  .success-message {
    background: #fff;
    border-radius: 2.5rem;
    justify-content: start;
    max-width: 32.25rem;
    min-height: auto;
  }
  .success-message .body {
    padding-top: 0;
  }
  .success-message .icon-box {
    padding-top: 0;
  }
  .success-message button {
    margin-top: 2.5rem;
  }
}

/* Animation Keyframes */
@keyframes slide {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }

  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateX(-4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
/* Animation Keyframes */
